{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container">
    <img src="{% static 'artist_detail.jpg' %}" alt="Music" style="float: right; max-width: 45%;">
    <ul>
        <li>Name: {{ artist.name }}</li>
        <li>Biography: {{ artist.biography }}</li>
    </ul>
</div>
<style>
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  padding: 30px;
}

.container img {
  max-width: 55%;
  margin-right: 30px;
}

</style>
{% endblock %}
