{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>{{ genre.name }}</h1>
    <img src="{% static 'genre.jpg' %}" alt="Music genre" style="float: right; max-width: 43%;">
    <p>{{ genre.description }}</p>
</div>
<style>
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  height: 88%;
}

.container img {
  max-width: 55%;
  margin-right: 10px;
}

.container p {
  flex: 1;
}

</style>
{% endblock %}
