{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container">
    <img src="{% static 'track_detail.jpg' %}" alt="Music" style="float: right; max-width: 45%;">
    <ul>
        <li>Title: {{ track.title }}</li>
        <li>Artist: {{ track.artist }}</li>
        <li>Album: {{ track.album }}</li>
        <li>Create date: {{ track.create_date }}</li>
        <li>Length: {{ track.length }}</li>
        <li>Track file: {{ track.track_file }}</li>
        <li>
            <div class="play-button btn" data-track="1"><i class="bi bi-play-circle-fill"></i></div>
        </li>
    </ul>
</div>
<script>
    queue = [];

    queue.push(["/media/" + "{{track.track_file}}", "{{track.title|escapejs}}", "{{track.artist|escapejs}}"]);

    document.querySelectorAll('.play-button').forEach(element => element.addEventListener('click', () => {
        playTrack(element.getAttribute('data-track') - 1);
    }));
</script>
<style>
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  padding: 30px;
}

.container img {
  max-width: 55%;
  margin-right: 30px;
}
.play-button i {
  font-size: 2em;
}

</style>
{% endblock %}
