{% extends 'index.html' %}
{% load static %}

{% block content %}
 <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Track</th>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
            <th scope="col">Play</th>
        </tr>
        </thead>
        <tbody>
        {% for track in object_list %}
            <tr>
                <td><a href="{{ track.get_absolute_url }}">{{ track.title }}</a></td>
                <th>{{ track.artist }}</th>
                <th>{{ track.album }}</th>

                <th>
                    <a type="button" class="btn btn-warning"
                            href="">Play</a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
