{% extends 'index.html' %}
{% load static %}

{% block content %}
<table class="table table-dark table-striped track-list">
    <thead>
    <tr>
        <th scope="col">Track</th>
        <th scope="col">Artist</th>
        <th scope="col">Album</th>
        <th scope="col">Play</th>
        <th scope="col">Add to favourite</th>
    </tr>
    </thead>
    <tbody>
    {% for track in object_list %}
    <tr>
        <td><a href="{{ track.get_absolute_url }}">{{ track.title }}</a></td>
        <th>{{ track.artist }}</th>
        <th>{{ track.album }}</th>
        <td>
          <audio controls>
            <source src="{{ track.track_file.url }}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </td>
        <th>
            <form action="{% url 'music:add_to_favorite' track.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn heart"><i class="bi bi-heart-fill"></i></button>
            </form>
        </th>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
