{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="container">
  <img src="{% static 'media/music-letters.jpg' %}" alt="Music" style="float: right; max-width: 45%;">
  <ul>
      <li>Title: {{ track.title }}</li>
      <li>Artist: {{ track.artist }}</li>
      <li>Album: {{ track.album }}</li>
      <li>Create date: {{ track.create_date }}</li>
      <li>Length: {{ track.length }}</li>
      <li>Track file: {{ track.track_file }}</li>
    </ul>
</div>
<style>
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  padding: 30px;
}

.container img {
  max-width: 55%;
  margin-right: 30px;
}
</style>
{% endblock %}
