{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="edit-profile-wrapper">
    <h1>Edit Profile</h1>
    <div class="edit-profile-form">
        <form method="POST" action="{% url 'core:edit_user_profile' pk=object.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
        </form>
    </div>
</div>
<div style="height: 180px;"></div>
<style>
    h1 {
     font-family: "Arial Black", sans-serif;
    }
    body {
      background-image: url("{% static 'fon.jpg' %}");
      background-size: cover;
    }
    .edit-profile-wrapper {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    .edit-profile-form {
      margin-top: 5px;
    }
    .edit-profile-form form {
    background-color: #3f1d4a;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    .edit-profile-form form button {
      margin-top: 20px;
    }
</style>
{% endblock %}
