{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="profile">
  <div class="profile-header">
    <h1>{{ user.first_name }}</h1>
    <img src="{% static 'profile_photo.svg' %}" alt="Profile picture">
    <a href="{% url 'core:edit_user_profile' pk=user.pk %}" class="edit-profile-button">Edit Profile</a>
  </div>
  <div class="profile-body">
    <h2>About Me</h2>
    <p>{{ user.profile.bio }}</p>
    <h2>Details</h2>
    <ul>
      <li><strong>Gender:</strong> {{ user.profile.gender }}</li>
      <li><strong>User Type:</strong> {{ user.profile.user_type }}</li>
      <li><strong>Favourite Genres:</strong> {{ user.profile.favourite_genres }}</li>
      <li><strong>Website:</strong> <a href="#">{{ user.profile.website }}</a></li>
      <li><strong>Postcode:</strong> {{ user.profile.postcode }}</li>
    </ul>
  </div>
</div>

<style>
.profile {
  border: 1px solid #ddd;
  padding: 10px;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 460px;
}

.profile-header img {
  max-width: 150px;
}
.profile {
  border: 1px solid #ddd;
  padding: 10px;
  background-image: url("{% static 'music-play.jpg' %}");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  margin-bottom: 120px;
}
.profile-body h2 {
  margin-top: 50px;
}

.profile-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-body li {
  margin-top: 30px;
  line-height: 1.0em;
}
</style>

{% endblock %}
